.userProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

body {
  background-color: #00bcd4;
}
.cardAlign {
  text-align: justify;
  align-items: center;
}
.cardBody {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userDetails {
  border: 1px solid #666;
  width: 300px;
  padding: 10px;
  border-radius: 3px;
}
